
.technologydiv{
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    overflow: hidden;
    
}














@media (max-width:600px){

    .technologydiv{
        height: 100vh;
        width: 100vw;
        background-image: url("../../assets/technology/background-technology-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        position: relative;
}}
