.launchdiv {
  height: 100%;
  width: 100%;
  margin-top: 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 115px;
  position: relative;
}

.launchseconddiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

.launchpicdiv {
  position: absolute;
  right: 0;
  top: 150px;
  height: 60%;
  width: 36%;

  display: flex;

  justify-content: end;
}
.launchpic {
  height: 100%;
  width: 75%;
}

.writting {
  height: 450px;
  width: 35%;

  display: flex;
  flex-direction: column;

  justify-content: space-evenly;

  text-align: left;
  margin-top: -89px;
  margin-left: -40px;
}
.thetech {
  font-size: small;
  color: white;
  font-weight: 300;
  padding-top: 20px;
  box-sizing: border-box;
}
.launchvehicle {
  font-size: 37px;
  color: white;
  font-weight: 400;

  max-width: 100%;
  width: 70%;

  margin-top: -90px;
}
.carrier {
  font-size: 12px;
  color: white;
  text-align: center;
  max-width: 60%;
  font-weight: 200;
  text-align: left;
  margin-top: -90px;
}

@media (max-width: 600px) {
  .launchdiv {
    height: 80%;
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .launchseconddiv {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .launchpicdiv {
    height: 40%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -130px;
  }
  .launchpic {
    height: 100%;
    width: 80%;
  }

  .writting {
    width: 100vw;
    margin-top: 1px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .launchvehicle {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .thetech {
    font-size: medium;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-weight: 300;
  }

  .carrier {
    font-size: small;
    color: white;
    text-align: start;
    max-width: 95%;
    font-weight: 200;
    padding-top: 135px;
    padding-left: 35px;
    padding-bottom: 25px;
    box-sizing: border-box;
  }
}
